[Desktop Entry]
Type=Application
Name=FuriganaPad
Comment=Write Japanese texts with Furigana easily
Comment[ja]=ふりがなつきの文章をかんたんにかけます
Icon=furiganapad
Exec=furiganapad %F
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
