Source: furiganapad
Section: editors
Priority: optional
Maintainer: Esrille Inc. <info@esrille.com>
Build-Depends:
 appstream,
 debhelper (>=11),
 desktop-file-utils,
 dh-python,
 gtk-update-icon-cache,
 libglib2.0-dev-bin,
 meson (>=0.53),
 python3-dev,
 pkg-config
Standards-Version: 4.5.0
Homepage: https://github.com/esrille/furiganapad
Vcs-Git: https://github.com/esrille/furiganapad.git
Vcs-Browser: https://github.com/esrille/furiganapad

Package: furiganapad
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 fonts-noto-cjk,
 gir1.2-gtk-3.0,
 gir1.2-pango-1.0 (>= 1.44.0),
 python3-gi,
 python3-gi-cairo,
 python3-icu,
 yelp
Recommends: ibus-hiragana (>= 0.15.5)
Description: text editor for Japanese texts with ruby characters
 FuriganaPad can be used to edit Japanese texts with ruby characters.
 Ruby characters are automatically placed above Kanji characters when
 converting Hiragana characters into Kanji characters by using
 Hiragana IME for IBus.
